

.characters-page1{
    background-image: url("images/maze-2.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white ;
    border-radius: 10px;
}

.card button:hover{
    background-color:  #3498db;
    border-radius: 10px;
    transform: scale(1.2);
}
#lets-play{
    width: 200px;
    font-size: 26px;
}

#lets-play:hover{
    background-color:  #3498db;
    border-radius: 10px;
    transform: scale(1.2);

}
.characters-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 40px;
    border: 1px solid black;
    padding: 70px;
    cursor: pointer;
}

.characters-image {
    width: 300px;
    height: 300px;
}

button {
    padding: 10px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.selected {
    background-color: rgb(91, 226, 163);
}